#*
*#
*.txt
*.bak
*.bdf
*.bsf
*.qws
*~
*.bak
*.hex
*.out
LatheCtl.qsf
Proj/*.rpt
Proj/*.txt
Proj/db
ProJ/greybox_tmp
Proj/incremental_db
Proj/output_files
Proj/simulation
Save/*
Sim/*.mti
Sim/*.vstf
Sim/*.wlf
Sim/db
Sim/wlf*
Sim/work
Sim/neorv32/*
VHDL/greybox_tmp


*.log

Sim/transcript
